<?xml version = "1.0"?>
<!-- the xmlns:xacro part is required for the xacro to run properly -->
<robot name = "dd_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ros_robotics)/urdf/materials.xacro" />
  <xacro:include filename="$(find ros_robotics)/urdf/gazebo.xacro" />
  <xacro:include filename="$(find ros_robotics)/urdf/macros.xacro" />
  
  <!-- Base link description -->
  <!-- Differently from the sdf standard, the arguments are usually quoted -->
  <link name = "base_link">

	<visual>
	  <origin xyz = "0 0 0" rpy = "0 0 0 " />
	  <geometry>
		<box size = "0.5 0.5 0.25" />
	  </geometry>
	  <material name="blue"/>
	</visual>

	<!-- Chassis collision -->
	<collision>
	  <origin xyz="0 0 0" rpy="0 0 0"/>
	  <geometry>
		<box size="0.5 0.5 0.25"/>
	  </geometry>
	</collision>

	<!-- Inertial properties of the chassis -->
	<inertial>
	  <mass value="5"/>
	  <inertia ixx="0.13" ixy="0.0" ixz="0.0"
			   iyy="0.21" iyz="0.0" izz="0.13"/>
	</inertial>

	<!-- Caster -->
	<!-- The caster is inside of the base link. I couldn't create it a link because
		 it would need a joint to attach it to the base link -->
	<visual name="caster">
	  <origin xyz="0.2 0 -0.125" rpy="0 0 0"/>
	  <geometry>
		<sphere radius="0.05"/>
	  </geometry>
	  <material name="blue"/>
	</visual>

	<!-- Caster collision -->
	<collision>
	  <origin xyz="0.2 0 -0.125" rpy="0 0 0"/>
	  <geometry>
		<sphere radius="0.05"/>
	  </geometry>
	</collision>
	
	<inertial>
	  <mass value="0.5"/>
	  <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
			   iyy="0.0001" iyz="0.0" izz="0.0001"/>
	</inertial>

  </link>

  <!-- Right wheel -->
  <xacro:link_wheel name="right_wheel"/>
  <xacro:joint_wheel name="right" child="right_wheel" x="0" y="-0.30" z="0.025"/>
  
  <!-- Left wheel -->
  <xacro:link_wheel name="left_wheel"/>
  <xacro:joint_wheel name="left" child="left_wheel" x="0" y="0.30" z="0.025"/>


  <!-- <joint name="joint_left_wheel" type="continuous"> -->
  <!-- 	<parent link="base_link"/> -->
  <!-- 	<child link="left_wheel"/> -->
  <!-- 	<origin xyz="0 0.30 0.025" rpy="0 0 0" /> -->
  <!-- 	<axis xyz="0 1 0"/> -->
  <!-- </joint> -->

</robot>
