<?xml version="1.0"?>
<robot>

  <gazebo>
	<plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller">
	  <legacyMode>false</legacyMode>
	  <alwaysOn>true</alwaysOn>
	  <updateRate>20</updateRate>
	  <leftJoint>joint_left_wheel</leftJoint>
	  <rightJoint>joint_right_wheel</rightJoint>
	  <wheelSeparation>0.2</wheelSeparation>
	  <wheelDiameter>0.2</wheelDiameter>
	  <torque>0.1</torque>
	  <commandTopic>cmd_vel</commandTopic>
	  <odometryTopic>odom</odometryTopic>
	  <odometryFrame>odom</odometryFrame>
	  <robotBaseFrame>base_link</robotBaseFrame>
	</plugin>
  </gazebo>

  <gazebo reference="base_link">
	<material>Gazebo/Blue</material>
	<pose>0 0 0.3 0 0 0</pose>
  </gazebo>

  <gazebo reference="left_wheel">
	<material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_wheel">
	<material>Gazebo/Black</material>
  </gazebo>

</robot>
