<?xml version='1.0'?>
<launch>

  <!-- These values are the ones passed by the user via command-line. -->
  <!-- Here, the name of the variables are "model" and "gui" (without the quotes). -->
  <arg name = "model" />
  <arg name = "gui" default = "False" />

  <!-- Configuring the Parameter sever -->
  <param name = "robot_description"
		 command = "$(find xacro)/xacro '$(find ros_robotics)/urdf/dd_robot.xacro'"/>
		 <!-- textfile = "$(find ros_robotics)/urdf/$(arg model)" /> -->
  <param name = "use_gui" value = "$(arg gui)" />

  <!-- Initialization of 3 nodes: joint_state_publisher,
		robot_state_publisher and rviz -->
  <node name = "joint_state_publisher"
		pkg = "joint_state_publisher"
		type = "joint_state_publisher" />

  <!-- The current ROS version has split the joint_state_publisher from its GUI, so
  		this separation is also needed here -->
  <node pkg="joint_state_publisher_gui"
  		type="joint_state_publisher_gui"
  		name="joint_state_publisher_gui"
  		output="screen"
  		if="$(arg gui)" />

  <node name = "robot_state_publisher"
		pkg = "robot_state_publisher"
		type = "robot_state_publisher" />

  <node name = "rviz" pkg = "rviz" type = "rviz"
		args = "-d $(find ros_robotics)/urdf.rviz"
		required = "true" />

</launch>
